.p-listbox {
  .p-listbox-list {
    .p-listbox-item {
      padding: 0 12px;
      height: 38px !important;
      display: flex !important;
      gap: 12px !important;
      align-items: center !important;
      font-size: 0.875rem !important;
      font-weight: 500 !important;
    }
    .p-highlight {
      opacity: 1;
    }
    &.p-focus {
      border-color: none !important;
      outline: none !important;
      outline-offset: none !important;
      box-shadow: none !important;
    }
    &.p-focus:focus-visible {
      border-color: none !important;
      outline: $focusOutline !important;
      outline-offset: $focusOutlineOffset !important;
      box-shadow: $focusShadow !important;
    }
    .p-listbox-item{
      
      .p-listbox-empty-message {
        color: var(--text-color-empty);
        font-size: 14px;
      }
    }
  }
}