.prose {

  color: var(--text-color) !important;

  *:is(p), *:is(li) {
    color: var(--text-color-secondary) !important;
  }

  *:is(a), *:is(a > u) {
    color: var(--text-color-link) !important;
  }
}
