.prose {
  *:not(p, a, li) {
    color: var(--text-color) !important;
  }

  *:is(a), *:is(a > u) {
    color: var(--text-color-link) !important;
  }

  *:is(table) {
    border-collapse: separate;
    border-spacing: .5px;
    box-sizing: content-box;
    border: 1px solid var(--surface-border);
    border-radius: 6px;
    overflow: hidden;
  }

  *:is(table > thead) {
    border-collapse: separate;
    background: #1c1c1c;
  }

  *:is(tr > th) {
    background: #1c1c1c;
  }

  *:is(tr > th) {
    font-size: .875rem;
    text-wrap: nowrap;
    color: var(--text-color);
    font-weight: 600;
    text-align: left;
    padding: 1rem !important;
    background: #1c1c1c;
  }

  *:is(tr > td) {
    font-size: .875rem;
    color: var(--text-color);
    padding: 1rem !important;
    border-top: 1px solid var(--surface-border);
    background: var(--surface-section);
  }

  @media screen and (max-width: 640px) {
    table {
      display: block;
      width: 100%;
      overflow-x: scroll;
    }
    table td {
      white-space: nowrap;
    }
  }  

  *:is(p), *:is(li) {
    color: var(--text-color-secondary) !important;
  }

  *:is(hr) {
    border-color: var(--surface-border) !important;
  }
}
