.prose {
  *:not(p, a, li) {
    color: var(--text-color) !important;
  }

  *:is(a), *:is(a > u) {
    color: var(--text-color-link) !important;
  }

  *:is(table) {
    border-collapse: separate !important;
    border-spacing: .5px !important;
    box-sizing: content-box !important;
    border: 1px solid var(--surface-border) !important;
    border-radius: 0.375rem !important;
    overflow: hidden !important;
  }

  *:is(table > thead) {
    border-collapse: separate !important;
    background: #1c1c1c !important;
  }

  *:is(tr > th) {
    background: #1c1c1c !important;
  }

  *:is(tr > th) {
    font-size: .875rem !important;
    text-wrap: nowrap !important;
    color: var(--text-color) !important;
    font-weight: 600 !important;
    text-align: left !important;
    padding: 1rem !important;
    background: #1c1c1c !important;
  }

  *:is(tr > td) {
    font-size: .875rem;
    color: var(--text-color) !important;
    padding: 1rem !important;
    border-top: 1px solid var(--surface-border) !important;
    background: var(--surface-section) !important;
  }

  *:is(p), *:is(li) {
    color: var(--text-color-secondary) !important;
  }

  *:is(hr) {
    border-color: var(--surface-border) !important;
  }
  
  *:is(aside.content) {
    background: #f3652b15 !important;
    border-radius: 0.325rem !important;
    border-left: #f3652b 5px solid !important;
  }
  *:is(aside.content.note) {
    background: var(--surface-200) !important;
    border-left: var(--surface-600) 5px solid !important;
  }
  *:is(aside.content > p) {
    color: var(--text-color) !important;
    display: flex;
    gap: 0.375rem;
    fill: #f3652b !important;
    margin: 0 !important;
    padding-left: .375rem;
  }
  *:is(aside.content > section > p) {
    margin: .5rem .5rem 0 0 !important;
    font-size: 1rem;
    padding-left: .375rem;
  }
}
