.code-log-body {
  padding: 1px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
  background: var(--surface-400);
}

.value-code-log-body {
  font-family: 'Courier New', Courier, monospace;
  color: var(--text-color);
}